h3{
    font-size: 25px !important;
    color: black !important;
}
canvas{
    border: 4px black solid;
    animation-name: "abcd";
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes abcd{
    from{box-shadow: 25px 25px 25px 70px lightseagreen;};
    to{box-shadow: 25px 25px 25px 70px lightgreen;};
}
#click:hover{
    background-color: red;
}